/*Universal*/
body{
    background-color: #c9e9f5;
        
   

}

.btn {
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background: #40B3A2;
  min-width: 200px;
  border: 0;
  border-radius: 4px;
  box-shadow: #064138 0 8px 15px;
  transform: translateY(-2px);
  padding: 16px 20px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;

}

.btn:hover {
  opacity: .95;
}

.btn .animation {
  border-radius: 100%;
  animation: ripple 0.6s linear infinite;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
  }
}

.btn:active {
 box-shadow: none;
 transform: translateY(0);
}

.clc {
  width: 100%;
  height: 100px;
  padding: 17px 40px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: hsl(261, 100%, 77%);
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 50px;
  transition: all 0.5s ease;
}

.clc:hover {

  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

.clc:active {

  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}



#rs {
    text-align: center;
    
    font-size:40px;
}

#h {
    font-size: 20px;

}

#a {
    width: 350px;
    height: 250px;
    text-align: center;
    font-size:90px;
    border-radius: 20%;
}

#op {
    font-size: 40px;
    font-weight:bold;
    text-align: center;

    color: rgb(5, 22, 14);
}


/*Home Page*/

/*Menubar*/
.menu {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    overflow: hidden;
    font-size: 25px;
    background-image: linear-gradient(to right, #0200CF,#BA00A9);
}

#title {
    
    padding: 15px;
    float: left;
    color: aliceblue;
}

.link {
    padding: 15px;
    float: right;
    color: aliceblue;
    text-decoration: dotted;
    z-index: 3; 
}

.contents {
    position: relative;
    top: 70px;
}

.home {
    width: 100%;
    height: auto;
    font-size:40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 30px;
    border-width: 7.5px;
    background-image: linear-gradient(to bottom right, white,#99ff99);
}

.home:hover {
    background-image: linear-gradient(to bottom right,#66ffff, #00ccff);
    box-shadow: 20px 20px 12.5px #bfbfbf;
    transform: translateY(-10px);
}

/* From Uiverse.io by vinodjangid07 */ 
#checkbox {
  display: none;
}

.toggle {
  margin-top: 8px;
  margin-right: 8px;
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition-duration: .3s;
  float: right;
}

.bars {
  width: 100%;
  height: 4px;
  background-color: rgb(253, 255, 243);
  border-radius: 5px;
  transition-duration: .3s;
}

/* #checkbox:checked + .toggle .bars {
  margin-left: 13px;
} */

#checkbox:checked + .toggle #bar2 {
  transform: translateY(14px) rotate(60deg);
  margin-left: 0;
  transform-origin: right;
  transition-duration: .3s;
  z-index: 2;
}

#checkbox:checked + .toggle #bar1 {
  transform: translateY(28px) rotate(-60deg);
  transition-duration: .3s;
  transform-origin: left;
  z-index: 1;
}

#checkbox:checked + .toggle {
  transform: rotate(-90deg);
}
/* #checkbox:checked + .toggle #bar3 {
  transform: rotate(90deg);
  transition-duration: .3s;
  transform-origin:right;
} */

#menubar {
    position: fixed;
    display: none;
    width: 100%;   
    height: 100%;   
    top: 58px;                 
    left: 0;        
    right: 0;       
    bottom: 0;      
    background-color: rgba(6, 64, 43, 0.75);
    z-index: 2;  
}

.links{
  text-decoration: none;
  color: aliceblue;
  font-size: 25pt;
  text-align: center;
  font-weight: bold;
}

#dmon {
  display: block;
  background-color: transparent;
  border-radius: 0px;
}

#dmoff {
  display: none;
  background-color: transparent;
  border-radius: 0px;
  
}

#sunbox {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.315);
    z-index: 2;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    overflow: scroll;

}

#sunopen {
    margin-top: 5vh;
    margin-bottom: 5vh;
    height: 100vh;
    width:auto;
    display:block;
    
}

#cross {
    height: 40px;
    width: 40px;
    margin-top: 10px;
    margin-right: 50px;
    float: right;
}

#hcbox {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.315);
    z-index: 2;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    overflow: scroll;

}

#hcopen {
    margin-top: 5vh;
    margin-bottom: 5vh;
    height: 80vh;
    width:auto;
    display:block;
    
}

#ganbox {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.315);
    z-index: 2;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    overflow: scroll;

}

#ganopen {
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 100%;
    max-width: 950px;
    height:auto;
    display:block;
    
}

#datbox {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.315);
    z-index: 2;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    overflow: scroll;

}

#datopen {
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 100%;
    max-width: 1000px;
    height:auto;
    display:block;
    
}